name: build nightlies
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
        with:
          path: ht32-rs
      - name: Install Python dependencies
        run: |
          pip3 install --user setuptools wheel
          cd ht32-rs
          pip3 install --user -r requirements.txt
      - name: Put pip binary directory into path
        run: |
          echo "::add-path::~/.local/bin"
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true
      - name: Install svd2rust
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: svd2rust --version 0.17.0
      - name: Install form
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: form --version 0.7.0
      - name: Put cargo binary directory into path
        run: |
          echo "::add-path::~/cargo-bin"
      - name: Deploy SSH key
        run: |
          mkdir ~/.ssh
          echo "${{ secrets.NIGHTLIES_KEY }}" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com
      - name: Build and publish
        run: |
          mkdir nightly
          cd ht32-rs
          COMMIT=$(git rev-parse HEAD)
          cd svd
          ./extract.sh
          cd ..
          ./build.py
          mv ht32f* ../nightly
          cp .github/workflows/README-nightlies.md ../nightly/README.md
          cd ../nightly
          git init
          git add .
          git config user.name "ht32-rs builder"
          git config user.email "action@github.com"
          git commit -m "ht32-rs master $COMMIT"
          git remote add origin git@github.com:ht32-rs/ht32-rs-nightlies
          git push --force origin master

